
<h3>Igor da Silva Torres</h3>
<p>Desenvolvedor BackEnd</p>
<p>Tecnologias:</p>
<ul class="nav navbar-nav ml-auto">
    <li>
        igor.s.torres@outlook.com.br
    </li>
    <li>
        Cel: (38) 99912-4757
    </li>

</ul>