@{
    ViewData["Title"] = "Home Page";
}



        <h2 class="mb-4">Bem vindo!</h2>
        <p style="font-size: 16px;">É com muito prazer que disponibilizamos nosso gestor de arquivos para que facilite o seu dia a dia no gerenciamento de todos os arquivos virtuais!</p>

