
<h3>Igor da Silva Torres</h3>
<p>Desenvolvedor BackEnd</p>
<p>Tecnologias:</p>
<ul class="nav navbar-nav ml-auto">
    <li>
        Linguagem C#, Java e C.
    </li>
    <li>
        .Net Core Mvc, API Rest
    </li>
    <li>
        SQLServer, Mysql, PostgreSQL
    </li>
    <li>
        EntityFrameWork, Dapper e DAO
    </li>
    <li>
        Arquitetura em camdas, Injeção de dependência
    </li>
    <li>
        E muito mais...
    </li>

</ul>